* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  overflow: hidden;
  color: #222;
}

.game-container {
  width: 50%;
  background-color: white;
  margin: 1.2rem auto 0;
  border-radius: 10px;
  padding: 0.8rem 1.4rem;
  box-shadow: 13px 12px 15px -16px rgba(0, 0, 0, 0.1);
}

.game-container > h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: -10px;
  letter-spacing: 2px;
}

.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem 0;
}

.game-change {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #222;
  padding: 5px;
  border-radius: 3px;
  color: teal;
  font-weight: 600;
  font-size: 1rem;
}

.input-range {
  width: 80%;
  margin: 1.2rem auto 1rem;
}

.range-calc {
  width: 100%;
}

.score-board {
  width: 80%;
  margin: 1rem auto 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.attempt,
.best-score {
  background-color: rgb(248, 211, 211);
  box-shadow: 13px 12px 15px -16px rgba(168, 95, 95, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 3px;
  text-align: center;
}

.attempt-score,.score-best{
  font-size: 1.4rem;
  color: crimson;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}

.best-score {
  background-color: rgb(174, 252, 252);
}

.guess-container {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess-container > p {
  font-size: 1rem;
  font-weight: 600;
}

#input-number {
  background-color: #eaeaea;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 1.3rem;
}

.btn-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.guess,
.new-game {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  color: whitesmoke;
}

.guess {
  background-color: teal;
  outline: 2px solid crimson;
}

.new-game {
  background-color: crimson;
  outline: 2px solid teal;
}

.detail {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-played,.rate,.attempts,.range{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: .6rem;
}

.result-container{
  margin: 1.3rem auto;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.number-guessing{
  background-color: rgb(119, 168, 168);
  width: 25px;
  height: 25px;
  padding: 15px;
  border-radius: 2px;
  color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
}


